This is a quick code starter to evaluate sentence similarity

In [33]:
import pandas as pd
import numpy as np
from nltk.tokenize.punkt import PunktSentenceTokenizer, PunktTrainer
from nltk import sent_tokenize
import random

# Load Data

# Load the Evaluation Dataset

In [11]:
df = pd.read_csv("data/sts.csv",delimiter="\t",error_bad_lines=False)
df = df[df.Score > 0];len(df)

b'Skipping line 855: expected 5 fields, saw 6\nSkipping line 932: expected 5 fields, saw 6\nSkipping line 1068: expected 5 fields, saw 6\nSkipping line 1163: expected 5 fields, saw 7\nSkipping line 1259: expected 5 fields, saw 6\nSkipping line 3256: expected 5 fields, saw 6\nSkipping line 3271: expected 5 fields, saw 6\nSkipping line 3360: expected 5 fields, saw 6\nSkipping line 3760: expected 5 fields, saw 6\nSkipping line 3764: expected 5 fields, saw 6\nSkipping line 11317: expected 5 fields, saw 6\nSkipping line 11945: expected 5 fields, saw 6\nSkipping line 18072: expected 5 fields, saw 6\nSkipping line 18995: expected 5 fields, saw 7\nSkipping line 19141: expected 5 fields, saw 6\nSkipping line 19153: expected 5 fields, saw 6\nSkipping line 19226: expected 5 fields, saw 6\nSkipping line 19289: expected 5 fields, saw 6\nSkipping line 19335: expected 5 fields, saw 6\nSkipping line 19497: expected 5 fields, saw 6\nSkipping line 19650: expected 5 fields, saw 7\nSkipping line 19838: expected 5 fields, saw 6\nSkipping line 20013: expected 5 fields, saw 6\nSkipping line 20016: expected 5 fields, saw 6\nSkipping line 20104: expected 5 fields, saw 6\nSkipping line 20151: expected 5 fields, saw 6\nSkipping line 20414: expected 5 fields, saw 6\nSkipping line 20433: expected 5 fields, saw 7\nSkipping line 20485: expected 5 fields, saw 6\nSkipping line 20523: expected 5 fields, saw 6\nSkipping line 20641: expected 5 fields, saw 6\nSkipping line 20765: expected 5 fields, saw 6\nSkipping line 20784: expected 5 fields, saw 6\nSkipping line 20805: expected 5 fields, saw 6\nSkipping line 20930: expected 5 fields, saw 6\nSkipping line 20944: expected 5 fields, saw 6\nSkipping line 21049: expected 5 fields, saw 7\nSkipping line 21062: expected 5 fields, saw 6\nSkipping line 21167: expected 5 fields, saw 6\nSkipping line 21252: expected 5 fields, saw 7\nSkipping line 21295: expected 5 fields, saw 6\nSkipping line 21296: expected 5 fields, saw 6\nSkipping line 21424: expected 5 fields, saw 6\nSkipping line 21489: expected 5 fields, saw 6\nSkipping line 21752: expected 5 fields, saw 6\nSkipping line 21974: expected 5 fields, saw 6\nSkipping line 27136: expected 5 fields, saw 6\n'

13603

In [12]:
df.head()

,Dataset,Domain,Score,Sent1,Sent2
0,STS2012-gold,surprise.OnWN,5.00,render one language in another language,restate (words) from one language into another...
1,STS2012-gold,surprise.OnWN,3.25,"nations unified by shared interests, history o...",a group of nations having common interests.
2,STS2012-gold,surprise.OnWN,3.25,"convert into absorbable substances, (as if) wi...",soften or disintegrate by means of chemical ac...
3,STS2012-gold,surprise.OnWN,4.00,"devote or adapt exclusively to an skill, study...",devote oneself to a special area of work.
4,STS2012-gold,surprise.OnWN,3.25,elevated wooden porch of a house,a porch that resembles the deck on a ship.

In [26]:
random.choice(df[["Sent1","Sent2","Score"]].values)

array(['the act of physically affixing or connecting things',
       'the act of fastening things together.', 4.0], dtype=object)

In [27]:
mse = ((np.array([1,1,1]) - np.array([1,1,2])) ** 2).mean(axis=None); mse

0.3333333333333333

In [28]:
def evaluate(y_pred,y):
    return "Average Loss: {}".format(((y - y_pred) ** 2).mean(axis=None))

# Test 1

Our initial benchmark can be assigning 3s to all the pairs of sentence.

In [29]:
def similarity1(sent1,sent2):
    return 3

In [30]:
df["pred"] = df.apply(lambda row: similarity1(row["Sent1"],row["Sent2"]),axis=1)

In [31]:
df.head()

,Dataset,Domain,Score,Sent1,Sent2,pred
0,STS2012-gold,surprise.OnWN,5.00,render one language in another language,restate (words) from one language into another...,3
1,STS2012-gold,surprise.OnWN,3.25,"nations unified by shared interests, history o...",a group of nations having common interests.,3
2,STS2012-gold,surprise.OnWN,3.25,"convert into absorbable substances, (as if) wi...",soften or disintegrate by means of chemical ac...,3
3,STS2012-gold,surprise.OnWN,4.00,"devote or adapt exclusively to an skill, study...",devote oneself to a special area of work.,3
4,STS2012-gold,surprise.OnWN,3.25,elevated wooden porch of a house,a porch that resembles the deck on a ship.,3

In [32]:
evaluate(df.pred.values,df.Score.values)

'Average Loss: 1.9734321848734255'

# Test 2

Keep on going with other tests...

## Set Up Sentence Tokenizer (Sample Code)

Using sent_tokenize pretrained model

In [34]:
sentence = "My friend holds a Msc. in Computer Science. Mr. James told me Dr. Brown is not available today. I will try tomorrow. A man (e.g. a worker) is a good candidate."
sent_tokenize(sentence)

['My friend holds a Msc.',
 'in Computer Science.',
 'Mr. James told me Dr. Brown is not available today.',
 'I will try tomorrow.',
 'A man (e.g.',
 'a worker) is a good candidate.']

In [35]:
from nltk.corpus import gutenberg

text = ""
for file_id in gutenberg.fileids():
    text += gutenberg.raw(file_id)

trainer = PunktTrainer()
trainer.INCLUDE_ALL_COLLOCS = True
trainer.train(text)

In [36]:
tokenizer = PunktSentenceTokenizer(trainer.get_params())

In [37]:
tokenizer.tokenize(sentence)

['My friend holds a Msc.',
 'in Computer Science.',
 'Mr. James told me Dr.',
 'Brown is not available today.',
 'I will try tomorrow.',
 'A man (e.g.',
 'a worker) is a good candidate.']

In [38]:
tokenizer._params.abbrev_types.add('dr')
tokenizer._params.abbrev_types.add('e.g')
tokenizer._params.abbrev_types.add('msc')

In [39]:
tokenizer.tokenize(sentence)

['My friend holds a Msc. in Computer Science.',
 'Mr. James told me Dr. Brown is not available today.',
 'I will try tomorrow.',
 'A man (e.g. a worker) is a good candidate.']